<main> 
   <h1 class="text-center"> Super!</h1>
   <h2 class="text-end"> Super!</h2>
   <h3> Super!</h3>

<hr>

<div class="display-1 text-muted">Super!</div>
<div class="display-5">Super!</div>
<div class="display-6">Super!</div>

<hr>

<span class="text-muted">Додатковий текст</span>

<div class="text-muted text-end">
    Додатковий <span class="display-6">text</span>
</div>

<hr>

<h1 class="text-center text-uppercase"> Super! super uppercase!</h1>
<h1 class="text-center text-lowercase"> Super! super lowercase!</h1>
<h1 class="text-center text-capitalize"> Super! super capitalize!</h1>

<hr>

<button class="btn btn-primary">Button primary</button>

    <button class="btn btn-primary">
        <span class="text-uppercase">Button primary</span>
        <h1>Text</h1>
    </button>

 <button class="btn">
        <span class="text-uppercase">Text зелений</span>
        <h1>Text</h1>
 </button>

         <button class="btn btn-success">
            Button зелений
         </button>
  <br>
  <button class="btn btn-link">
        Button посилання
  </button>      
  <br>
  <a href="#" class="btn btn-primary">
    Button посилання
  </a>

  <hr>

  <p class="text-primary">My text "Typography color"</p>
  <p class="text-success">My text</p>
  <p class="text-danger">My text</p>

  <hr>

  <button class="btn btn-outline-primary">My button outline-це тіньові кнопки</button>

  <hr>

  <button class="btn btn-outline-primary btn-lg">My button sizes-це розмір кнопки</button>
  <button class="btn btn-primary btn-sm">My button sizes-це розмір кнопки</button>
  <button class="btn btn-secondary">My button sizes-це розмір кнопки</button>

  <hr>

  <div class="card">
    <div class="card-body">
        This is content:без class="card-body" текст буде прижатий до країв рамки.
    </div>
  </div>
   
   <br>
   <br>

  <div class="card">
    <div class="card-body">
        This is content:без class="card-body" текст буде прижатий до країв рамки.
        <div><button class="btn btn-outline-primary btn-lg">My button</button></div>
            <br>
        <div><button class="btn btn-primary btn-sm">My button</button></div>
            <br>
        <div><button class="btn btn-secondary">My button</button></div>

    </div>
  </div>





    


</main>